/* HTML SETUP */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 20px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 20px;
}

/* STYLES */

.screen {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.text-area {
  margin: 0px;
  background-color: #000000;
  color: #ffffff;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 35px;
  outline: none;
  border: none;
  white-space: pre-wrap;
}

.navigation {
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #202020;
  z-index: 2;
}

.nav-button {
  width: 100%;
  background-color: #202020;
  color: #FFFFFF;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-button:hover {
  background-color: #39FF13;
}

.open-navigation {
  top: 0;
  left: 0;
  background-color: #000000;
  color: #FFFFFF;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
  z-index: 1;
  cursor: pointer;
}

.main-content {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.card {
  width: 130px;
  border-radius: 20px;
  background-color: #a4da99;
  color: #000000;
}

.card:hover {
  background-color: #39FF13;
}

.note-alert {
  padding: 10px;
  color: #FFFFFF;
  background-color: #FF0F0F;
  border-radius: 20px;
  display: inline;
}

.dash-alert {
  padding: 10px;
  color: #FFFFFF;
  background-color: #FF0F0F;
  border-radius: 20px;
}

.disappear:empty {
  display: none;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 20px;
}

.padding-extra-top {
  padding-top: 40px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.header {
  font-size: 50px;
}

.subheader {
  font-size: 35px;
}

.deactivate {
  display: none;
}

.center {
  text-align: center;
  align-content: center;
}

.inline {
  display: inline;
}

.fit-content {
  width: fit-content;
}

.no-decoration {
  text-decoration: none;
}

.gradient {
  background-image: linear-gradient(to right, #67B26F, #4ca2cd);
}

.bar {
  margin: 5px;
  margin-left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

/* UI ELEMENTS */

button {
  display: inline;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  background-color: #a4da99;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
}

button:hover {
  background-color: #39FF13;
}

input {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: text;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
}

input:hover, input:focus {
  border: 5px solid #39FF13;
  outline: none;
}

/* SCROLLING */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #a4da99; 
}

::-webkit-scrollbar-thumb:hover {
  background: #39FF13; 
}

/* ANIMATIONS */

.slide {
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% { 
    transform: translateX(0%); 
  }
}

/* MEDIA QUERIES */

@media (min-width: 991px) {
  .open-navigation {
    display: none;
  }

  .navigation {
    display: block;
  }

  .overlay {
    display: none;
  }

  .main-content {
    padding-left: 100px;
  }
}

@media (max-width: 990px) {
  .open-navigation {
    display: block;
  }
  
  .navigation {
    display: none;
  }

  .overlay {
    display: none;
  }

  .main-content {
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .text-area {
    font-size: 20px;
  }
}