/* HTML SETUP */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 20px;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 20px;
}

/* STYLES */

.screen {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.back-button {
  cursor: pointer;
  display: inline;
}

.navigation {
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #252525;
}

.nav-button {
  width: 100%;
  background-color: #252525;
  color: #FFFFFF;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-button:hover {
  background-color: #39FF13;
}

.main-content {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.card {
  width: fit-content;
  border-radius: 20px;
  background-color: #a4da99;
  color: #000000;
}

.search {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 60px;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 20px;
}

.padding-extra-top {
  padding-top: 60px;
}

.header {
  font-size: 50px;
}

.subheader {
  font-size: 35px;
}

.deactivate {
  display: none;
}

.center {
  text-align: center;
  align-content: center;
}

.no-decoration {
  text-decoration: none;
}

.gradient {
  background-image: linear-gradient(to right, #67B26F, #4ca2cd);
}

/* UI ELEMENTS */

button {
  display: inline;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  background-color: #2BC20E;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
}

button:hover {
  background-color: #39FF13;
}

input {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: text;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
}

input:hover, input:focus {
  border: 5px solid #2BC20E;
  outline: none;
}

textarea {
  width: calc(100% - 40px);
  height: 60%;
  margin: 0px;
  border: none;
  border-radius: none;
  background-color: #000000;
  color: #ffffff;
  font-family: "rubik-medium", Helvetica, Arial;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  resize: none;
}

/* SCROLLING */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #2BC20E; 
}

::-webkit-scrollbar-thumb:hover {
  background: #39FF13; 
}